body, html {
  font-family: "Open Sans", FontAwesome, sans-serif;
  background-color: #FAFAFA;
}

img {
  width: 400px;
  height: auto;
}

h1 {
  color: #fff;
  text-align: center;
}

.breadcrumb-item a{
  color:#00bd56;
  text-decoration: none;
}

.wrapper {
  padding: 20px;
  background-color: #2C3E51;
}

.categories{
  position: relative;
}


.navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-toggler-icon {
  color: #fff;
}

.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item:hover{
  background-color:#48AADF;
  border-radius: 15px;
  transform:scale(0.9);
}

.search{
  padding-bottom: 20px;
}


.searchbar {
  padding: 1.5rem;
}

.fas {
  font-style: normal;
  color:green;
}

.far {
  font-style: normal;
  color:green;

}


.breadcumb-wrapper{
  margin-top: 30px;
}

.category_pane{
  border: 1px solid;
  margin: 10px;
}



.category_pane{
  border: 1px solid #dee1e3;
  padding: 5px 50px;
  color: black;
  border-radius: 5px;
  background-color: #fff;

}




.category_pane:hover{
  border: 1px solid #00bd56;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}


.header-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #000;
  text-align: center;
  font-size: 1.4rem;
}

.categories {
  z-index: 100;
  margin-top: -50px;
  margin-bottom: 100px;

}

.icons{
  margin-top: 20px;
  margin-bottom: 30px;
}


.articles{
  margin-top: 2em;
}
.articles_count{
  font-size: 0.8rem;
  color: #00bd56;
  text-align: center;
  line-height: 0.1;
}

.last_update{
  font-size: 0.7rem;
  color: #888c8f;
  text-align: center;
}


.articles_pane{

  border: 1px solid #dee1e3;
  padding: 20px;
  color: black;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 20px;
}

.articles_pane > div {
  padding: 10px;
}

.last_update2{
  font-size: 0.7rem;
  color: #888c8f;
  line-height: 0.5;
}

.articles_title{
  color: green;
}


.articles_pane:hover{
  border: 1px solid #00bd56;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
